/* src/components/MessageCard.css */

.message-card {
  padding: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  color: inherit;
}

.message-card.original {
  /*background-color: #e3f2fd; /* Light Blue */
  border-left: 5px solid #1976d2; /* Blue Border */
  max-width: 100%;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message-card.translation_1 {
  /*background-color: #e8f5e9; /* Light Green */
  border-left: 5px solid #388e3c; /* Green Border */
  max-width: 100%;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message-card.translation_2 {
  /*background-color: #fff3e0; /* Light Orange */
  border-left: 5px solid #f57c00; /* Orange Border */
  max-width: 100%;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message-card .MuiTypography-h6 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.message-card .MuiTypography-body1 {
  white-space: pre-wrap;
  font-size: 1.3rem;
  line-height: 1.6;
  /*color: #333;*/
}

.message-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.savings-card {
  /*background-color: inherit; /* Inherit background color based on theme */
  border-color: #fdd835; /* Maintain border color */
}
